<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to my {{ title }}!
  </h1>
</div>
<h2>Here must be technologies like: </h2>
<ul>
  <li>
    <h2>Spring Boot</h2>
  </li>
  <li>
    <h2>Spring Data</h2>
  </li>
  <li>
    <h2>Rest API</h2>
  </li>
</ul>
<div style="text-align:center">
  <h3>
    Click the link below to test it!
  </h3>
  <h1>
    <a href="#">HERE</a>
  </h1>
</div>
<app-page-first></app-page-first>
<app-header-component></app-header-component>

